{% extends 'partials/_base.html' %}

{% block title %}
    Students
{% endblock title %}

{% block content %}

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Gender</th>
      <th scope="col">Student No</th>
      <th scope="col">Student Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row">{{ student.id }}</th>
      <td><img src="{{student.image.url}}" width="50"  class="img-thumbnail rounded-circle" alt="picture {{student.surname}}"></td>
      <td>{{student.first_name}}</td>
      <td>{{student.last_name}}</td>
      <td>{{student.email}}</td>
      <td>{{student.phone}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.number}}</td>
      <td><a href="{% url 'detail' student.id %}">see details</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock content %}